body {
  padding-top: 70px;
}


a:hover {
  cursor: pointer;
}

.img-small {
  max-height: 200px;
  max-width: 100px;
}

.img-medium {
  width: 300px;
  min-height: 400px;
}

.margin-left {
  margin-left: 20px;
}
