<div ng-controller='imdbObjectCtrl'>
  <div class="row">
    <blockquote>
      <p><i>{{details.tomatoConsensus}}</i></p>
    </blockquote>

    <!-- Poster -->
    <div class="col-md-4">
      <div ng-if="details.Poster != 'N/A'">
        <img ng-src="{{details.Poster}}" alt="{{details.Title}}" class="thumbnail">
      </div>
      <div ng-if="details.Poster == 'N/A'">
        <img src="img/placeholder.png" alt="{{details.Title}}" class="thumbnail img-medium">
      </div>
    </div> <!-- end of poster -->

    <div class="col-md-8">

      <h2>{{details.Title}}</h2>
      <p>Release Date: {{ details.Released }}</p>
      <p>Rated: {{details.Rated}}</p>
      <p>Runtime: {{details.Runtime}}</p>
      <p>Genre: {{details.Genre}}</p>
      <p>Director: {{details.Director}}</p>
      <p>Writers: {{details.Writer}}</p>
      <p>Actors: {{details.Actors}}</p>
      <p>Plot: {{details.Plot}}</p>
      <p>IMDb Rating: {{details.imdbRating}}</p>
      <a class="btn btn-warning" target="_blank" ng-href='http://www.imdb.com/title/{{details.imdbID}}'>IMDb</a>
    </div>
    <div class="col-md-4">
      <div ng-if="details.Poster != 'N/A'">
        <img ng-src="{{details.Poster}}" alt="{{details.Title}}" class="thumbnail">
      </div>
      <div ng-if="details.Poster == 'N/A'">
        <img src="img/placeholder.png" alt="{{details.Title}}" class="thumbnail img-medium">
      </div>
    </div>
  </div>

</div> <!-- end of controller ->
