<div ng-controller='imdbObjectCtrl'>
  <div class="row">
    <div class="col-md-8">

      <h2>{{details.Title}}</h2>
      <p>Release Date: {{ details.Released }}</p>
      <p>Rated: {{details.Rated}}</p>
      <p>Runtime: {{details.Runtime}}</p>
      <p>Genre: {{details.Genre}}</p>
      <p>Director: {{details.Director}}</p>
      <p>Writers: {{details.Writer}}</p>
      <p>Actors: {{details.Actors}}</p>
      <p>Plot: {{details.Plot}}</p>
      <p>IMDb Rating: {{details.imdbRating}}</p>
      <a class="btn btn-warning" target="_blank" ng-href='http://www.imdb.com/title/{{details.imdbID}}'>IMDb</a>
    </div>
    <div class="col-md-4">
      <img ng-src="{{details.Poster}}" alt="{{details.Title}}" class="thumbnail">
    </div>
  </div>

</div>
