<br>
<div ng-controller="watchlistCtrl">
  <h1>Your watchlist</h1>
  <br>


  <div class="row">
    <!-- Movies -->
    <div class="col-md-6">
      <h2>Movies<a ng-if="watchlistMovie != 'empty'" class="btn btn-danger btn-xs margin-left" ng-click="deleteAllMovies()">Clear movies</a></h2>
      <br>
      <!-- if movies are found -->
      <div ng-if="watchlistMovie != 'empty'">
        <div ng-repeat="object in watchlistMovie">
          <div class="media animated bounceIn">
            <div class="media-left">
              <div ng-if="object.poster == 'no'"> <!-- if a poster is not a url -->
                <a ng-href="/imdb/{{object.imdb}}">
                  <img class="media-object img-small thumbnail" src="img/placeholder.png" alt="...">
                </a>
              </div>
              <div ng-if="object.poster != 'no'"> <!-- if a poster is a url -->
                <a ng-href='/imdb/{{object.imdb}}'>
                  <img class="media-object img-small thumbnail" ng-src='http://ia.media-imdb.com/images/M/{{object.poster}}' alt="poster">
                </a>
              </div>
            </div>
            <div class="media-body">
              <h4 class="media-heading">{{object.title}}</h4>
              <p>{{object.year}}</p>
              <p><a ng-href='/imdb/{{object.imdb}}'>Info</a></p>
              <p><a ng-click="deleteObject()">Remove</a></p>
            </div>
          </div>
        </div>
      </div>
      <!-- if movies are not found -->
      <div ng-if="watchlistMovie == 'empty'">
        <p>No movies in the watchlist</p>
      </div>
      <br>

    </div>

    <!-- Series -->
    <div class="col-md-6">
      <h2>Series<a ng-if="watchlistSeries != 'empty'" class="btn btn-danger btn-xs margin-left" ng-click="deleteAllSeries()">Clear series</a></h2>
      <br>
      <!-- if series are found -->
      <div ng-if="watchlistSeries != 'empty'">
        <div ng-repeat="object in watchlistSeries">
          <div class="media animated bounceIn">
            <div class="media-left">
              <div ng-if="object.poster == 'no'"> <!-- if a poster is not a url -->
                <a ng-href="/imdb/{{object.imdb}}">
                  <img class="media-object img-small thumbnail" src="img/placeholder.png" alt="...">
                </a>
              </div>
              <div ng-if="object.poster != 'no'"> <!-- if a poster is a url -->
                <a ng-href='/imdb/{{object.imdb}}'>
                  <img class="media-object img-small thumbnail" ng-src='http://ia.media-imdb.com/images/M/{{object.poster}}' alt="poster">
                </a>
              </div>
            </div>
            <div class="media-body">
              <h4 class="media-heading">{{object.title}}</h4>
              <p>{{object.year}}</p>
              <p><a ng-href='/imdb/{{object.imdb}}'>Info</a></p>
              <p><a ng-click="deleteObject()">Remove</a></p>
            </div>
          </div>
        </div>
      </div>
      <!-- if series are not found -->
      <div ng-if="watchlistSeries == 'empty'">
        <p>No series in the watchlist</p>
      </div>
      <br>
    </div>
  </div> <!-- end of row -->

  <br>
</div> <!-- end of controller -->
