<div ng-controller="watchlistCtrl" class="container">

  <h1>Your watchlist</h1>
  <p>You currently have {{watchlistMovie.length}} movies and {{watchlistSeries.length}} series in your watchlist</p>
  <br>


  <div class="row">
    <!-- Movies -->
    <div class="col-md-6">
      <h2>Movies <a ng-if="watchlistMovie != 'empty'" class="btn btn-danger btn-sm margin-left" data-toggle="modal" data-target="#confirmMovies"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove all</a></h2>
      <br>
      <!-- if movies are found -->
      <div ng-if="watchlistMovie != 'empty'">
        <div ng-repeat="object in watchlistMovie">
          <div class="media">
            <div class="media-left">
              <div ng-if="object.poster == 'no'"> <!-- if a poster is not a url -->
                <a ng-href="#/imdb/{{object.imdb}}">
                  <img class="media-object img-small thumbnail animated bounceIn" src="img/placeholder.png" alt="...">
                </a>
              </div>
              <div ng-if="object.poster != 'no'"> <!-- if a poster is a url -->
                <a ng-href='#/imdb/{{object.imdb}}'>
                  <img class="media-object img-small thumbnail animated bounceIn" ng-src='http://ia.media-imdb.com/images/M/{{object.poster}}' alt="poster">
                </a>
              </div>
            </div>
            <div class="media-body">
              <h4 class="media-heading">{{object.title}}</h4>
              <p>{{object.year}}</p>
              <p><a ng-href='#/imdb/{{object.imdb}}'>Info</a></p>
              <p><a ng-click="deleteSingleMovie(object.id)">Remove</a></p>
            </div>
          </div>
        </div>
      </div>
      <!-- if movies are not found -->
      <div ng-if="watchlistMovie == 'empty'">
        <p>No movies in the watchlist</p>
      </div>
      <br>

    </div>

    <!-- Series -->
    <div class="col-md-6">
      <h2>Series <a ng-if="watchlistSeries != 'empty'" class="btn btn-danger btn-sm margin-left" data-toggle="modal" data-target="#confirmSeries"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove all</a></h2>
      <br>
      <!-- if series are found -->
      <div ng-if="watchlistSeries != 'empty'">
        <div ng-repeat="object in watchlistSeries">
          <div class="media">
            <div class="media-left">
              <div ng-if="object.poster == 'no'"> <!-- if a poster is not a url -->
                <a ng-href="#/imdb/{{object.imdb}}">
                  <img class="media-object img-small thumbnail animated bounceIn" src="img/placeholder.png" alt="...">
                </a>
              </div>
              <div ng-if="object.poster != 'no'"> <!-- if a poster is a url -->
                <a ng-href='#/imdb/{{object.imdb}}'>
                  <img class="media-object img-small thumbnail animated bounceIn" ng-src='http://ia.media-imdb.com/images/M/{{object.poster}}' alt="poster">
                </a>
              </div>
            </div>
            <div class="media-body">
              <h4 class="media-heading">{{object.title}}</h4>
              <p>{{object.year}}</p>
              <p><a ng-href='#/imdb/{{object.imdb}}'>Info</a></p>
              <p><a ng-click="deleteSingleSeries(object.id)">Remove</a></p>
            </div>
          </div>
        </div>
      </div>
      <!-- if series are not found -->
      <div ng-if="watchlistSeries == 'empty'">
        <p>No series in the watchlist</p>
      </div>
      <br>
    </div>
  </div> <!-- end of row -->


  <!-- confirmation modals -->
  <!-- modal for movies -->
  <div class="modal fade" tabindex="-1" role="dialog" id="confirmMovies">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Remove all movies?</h4>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to remove all movies from the watchlist?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="deleteAllMovies()">Yes</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  <!-- modal for series -->
  <div class="modal fade" tabindex="-1" role="dialog" id="confirmSeries">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Remove all series?</h4>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to remove all series from the watchlist?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="deleteAllSeries()">Yes</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


  <br>
</div> <!-- end of controller -->
